/* -------------- Containers -------------- */

.container_mobile_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.2rem 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark_red);
    z-index: 5;
    box-sizing: border-box;
    min-height: 4.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container_mobile_links {
    z-index: 6;
    gap: 2rem;
    margin: 0;
    padding: 0;
    min-height: 2rem;
    align-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container_hidden_nav {
    width: 100%;
    gap: 1.5rem;
    padding: 1rem 0;
    z-index: 7;
    background-color: var(--dark_red);
}

/* -------------- Texts -------------- */

.container_mobile_links .link_mobile {
    text-decoration: none;
    color: var(--beige);
}

.container_mobile_links .link_mobile:hover {
    color: var(--red_wine);
}

/* -------------- Icons -------------- */

.logo_mobile_nav {
    width: 5rem;
    object-fit: contain;
    filter: contrast(0%) brightness(2000%);
    position: absolute;
    top: 1px;
    left: 2rem;
    user-select: none;
}

.burger_nav {
    color: var(--beige);
    position: absolute;
    right: 1.5rem;
    user-select: none;
}

.burger_nav:hover {
    cursor: pointer;
    transition: .5s;
    transform: scale(.9);
}

.burger_nav:not(:hover) {
    transition: .5s;
    transform: scale(1);
}

.close_burger {
    z-index: 7;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: var(--beige);
    user-select: none;
}

/* -------------- Buttons -------------- */

.btn_sign_mobile {
    background-color: var(--beige);
    padding: 0.5rem 1rem;
    text-align: left;
    border-radius: 5px;
    color: var(--dark_red);
    text-decoration: none;
    font-family: 'Plus Jakarta Sans' ,sans-serif;
    overflow: hidden;
    white-space: nowrap;
    width: 260px;
    font-weight: 600;
    border: 2px solid var(--beige);
}

.btn_sign_mobile:hover {
    background-color: transparent;
    color: var(--beige);
    transition: .5s;
}