/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
 --background_sign : #F5E3B6;
 --red_wine : #8E0D3C;
}

body {
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.columnContainer {
  display: flex;
  flex-direction: column;
}

.rowContainer {
  display: flex;
  flex-direction: row;
}